body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.page-wrapper {
  height: 100%;
  margin-top: -20px;
}

.col-md-3 {
  padding-left: 0;
  padding-right: 0;
  width: 20%;
  position: fixed;
}

.nav_bar {
  background-color: #434A54;
  height: 100%;
}

.nav {
  padding: 0;
  margin: 0;
}

.nav li a {
  padding: 18px 25px;
  color: #FFFFFF;
  font-size: 18px;
}

.nav-pills li a {
  border-radius: 0;
}

.nav-pills li:hover {
  background-color: #656D78;
}

.col-md-9 {
  position: relative;
  height: 100%;
  width: 80%;
  left: 20%;
  margin-top: -20px;
}

.logo-area {
  width: 80%;
}

.logo {
  height: 30.6px;
  width: 128px;
  float: right;
}

.profile-name {
  font-size: 35px;
  font-weight: 500;
}

.profile-nickname {
  margin-top: 35px;
  font-size: 15px;
  font-weight: 400;
}

.dashboard-area {
  background-color: #F5F7FA;
  height: 100%;
  margin-top: 8px;
}

.dashboard {
  margin-left: 45px;
}

.data {
  padding-bottom: 50px;
  margin: 30px;
  width: 40%;
  color: #FFFFFF;
}

.ph-area, .os-area {
  margin-right: 50px;
}

.data-type {
  font-weight: 300;
}

.data-value {
  font-size: 50px;
  font-weight: 500;
}

.units {
  font-size: 20px;
  font-weight: 200;
}

.graph {
  margin-bottom: 80px;
}

.graph-type {
  margin-bottom: 30px;
  font-weight: 300;
}

.ph-area {
  background-color: #EC7063;
}

.ec-area {
  background-color: #F7DC6F;
}

.os-area {
  background-color: #A0D468;
}

.temp-area {
  background-color: #4FC1E9;
}

/*.login-area {
  height: 400px;
}*/

.login-logo {
  margin: 20px;
  margin-left: 25%;
  width: 448px;
  height: 107.1px;
}

.btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 200px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  background-color: #4FC1E9;
  border-color: #4FC1E9;
}
